@font-face {
    font-family: 'Viafont';
    src: url('./font/Viafont.woff2') format('woff2'),
    url('./font/Viafont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: 'Viafont', sans-serif;
    font-weight: 200;
    color: #0ccac4;
}
